.btnLogo {
  outline: none;
  border: none;
  background-color: transparent;
}
.btnLogo:focus {
  outline: none !important;
  border: none;
}
.navbar-brand {
  height: 80px;
  width: auto;
  filter: drop-shadow(2px 4px 8px #585858);
}
.fa {
  font-size: 50px;
  color: black;
}
.fa:hover {
  color: blue;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 20rem;
  margin: 20px;
  border-radius: 20px;
  position: relative;
}
.info {
  padding: 1em;
  top: 100%;
  display: none;
}
.card:hover .info {
  position: absolute;
  top: 0;
  background: #4a9dd4;
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-img-top {
  height: 16rem;
}
.card-header {
  background-color: transparent;
}
.card-title {
  text-align: center;
}
.card-footer {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}
span {
  font-size: 20px;
  margin: 0 20px;
  border-radius: 5px;
  padding: 3px;
}

.buttons {
  margin-bottom: 50px;
}
.btnPrev {
  font-size: 20px;
  border-radius: 10px;
  float: left;
}
.btnNext {
  font-size: 20px;
  border-radius: 10px;
  float: right;
}
