.btnLogo {
    outline: none;
    border: none;
    background-color: transparent;
}
.btnLogo:focus{
    outline: none !important;
    border: none;
}
.navbar-brand {
  height: 80px;
  width: auto;
  filter: drop-shadow(2px 4px 8px #585858);
}
.fa {
  font-size: 50px;
  color: black;
}
.fa:hover {
  color: blue;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 20rem;
  margin: 20px;
  border-radius: 20px;
}
.card-img-top {
  height: 12rem;
}
.card-header {
    background-color: transparent;
}
.card-title {
  text-align: center;
}
.card-footer {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}
span {
  font-size: 20px;
  margin: 0 20px;
}

.buttons {
  margin-bottom: 50px;
}
.btnPrev {
  font-size: 20px;
  border-radius: 10px;
  float: left;
}
.btnNext {
  font-size: 20px;
  border-radius: 10px;
  float: right;
}